/* Initialize */
* { box-sizing: border-box; }
body { margin: 0; }
a { text-decoration: none; color: inherit; }
ul, li { list-style-type: none; padding: 0; margin: 0; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 16px; margin: 0; }
p { margin: 0; }
input, button { outline: none; padding: 0; box-sizing: border-box; }

/* Common Frame */
.welcome,
.find,
.about,
.history,
.statics,
.subscribe,
.testimonials,
.footer-con { display: flex; justify-content: center; align-items: center; }

.find-con,
.about-con,
.history-con,
.statics-con,
.subscribe-con,
.testimonials-con,
.footer-con { width: 1100px; }

/* Header */
header {
  position: fixed;
  top: 0; left: 0; 
  z-index: 1;
  width: 100%; height: 100px; 
  padding: 0 30px; 
  box-sizing: border-box;
  background-color: #333; 
}
.header-con  {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  width: 100%; height: 100%;
  color: #fff; 
  font-size: 18px;
}
nav > a { margin: 0 15px; transition: .5s; }
nav > a:hover { color: #70b65b; }
nav > a:last-child { padding: 18px 25px; color: #333; background-color: #fff;  box-sizing: border-box; }

/* Welcome */
.welcome { position: relative; height: calc(100vh - 100px); margin: 100px 0 0; }
.welcome-con { width: 100%; height: 100%; }
.welcome-prev,
.welcome-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; height: 50px;
  text-align: center; line-height: 50px; color: #fff; font-size: 30px;
  background-color: #70b65b;
}
.welcome-prev { left: 0; }
.welcome-next { right: 0; }

/* Find */
.find { height: 800px; }

/* About */
.about { height: 1300px; }
/* History */
.history { height: 1000px; }
/* Statics */
.statics { height: 240px; }
/* Subscribe */
.subscribe { height: 1000px; }
/* Testimonial */
.testimonial { height: 600px; }
/* Footer */
footer { height: 600px; }
/* Border */
header,
section { border: 1px solid black; }
.header-con,
.welcome-con,
.find-con,
.about-con,
.history-con,
.statics-con,
.subscribe-con,
.testimonial-con,
.footer-con { border: 1px solid black; }